.header {
  margin: 0;
  position: fixed;
  background-color: #e8e4d9;
  width: 100%;
  height: 120px;
  z-index: 1;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100%;
}

.header-span:hover{
  cursor: pointer;
  max-width: 100%;
  padding-bottom: 0.7px;
  position:relative;
}

.header-span:hover:after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background: #759f5c;
  height: 3px;
  border-radius:10px;
  border-width: 50%;
}

.menu {
  display: flex;
  align-content: center;
}

.header-link-container {
  display: flex;
  /* margin: 10px; */
}

.header-link {
  display: flex;
  font-size: 16px;
  font-family: Montserrat, Semi bold;
  font-weight: 600;
}

.link-plan {
  display: flex;
  margin-top: 25px;
  color: #3d3d3d;
  text-decoration: none;
  align-items: center;
  max-width: 240px;
  padding: 20px;
}

#header-transport {
  display: flex;
}

#link-transport {
  min-width: 183px;
  max-width: 250px;
}

.header-image {
  height: 100px;
  width: 100px;
}

.burger-image {
  display: none;
}
.root-image{
  display: none;
  max-height: 45px;
}
.root-image2{
  display:none;
  max-height: 55px;
  max-width: 300px;
  margin-left: 250px;
  position: fixed;
  top: 10px;
}
.profile-pic{
  display: none;
}
.userpic-container{
  /* display: flex; */
  /* margin-right: 20px; */
  position: fixed;
  top: 17px;
  right: 5px;
}
.root-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
.header {
  padding: initial;
}

  .header-image {
    display: none;
  }
  
  .header-home{
    margin-top: -250px;
    margin-right: 90px;
  }

  #link-plan{
    padding: 0;
    display: inline;
  }

  .header-span:active{
    cursor: pointer;
    max-width: 100%;
    padding-bottom: 5px;
    position:relative;
  }

  .header-span:active:after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background: #759f5c;
    height: 3px;
    border-radius:10px;
  }


  .header-link {
    /* display: block; */
    font-size: 16px;
    font-family: Montserrat, Semi bold;
    font-weight: 600;
    color: #3d3d3d;
    text-decoration: none;
    max-width: 210px;
    padding: initial;
  }

  .profile-pic{
    display: flex;
    max-width: 50px;
    background-color: #999;
    border-radius: 50%;
  }
  .root-image {
    display: block;
    padding: 1px;
    margin-top: 10px;
    
  }
.header{
  background-color: #f2f2f2;
  height: 9vh;
}
  .burger-image {
    display: flex;
    max-width: 50px;
    min-width: 50px;
    position: fixed;
    left: 17%;
    margin-right: 10px;
  }

  #link-home{
    font-weight: 500;
  }
  #header-plan {
    margin-left: -15px;
    margin-bottom: -30px
  }
  #header-transport {
    margin-left: 20px;
  }
  #header-polices {
    position: relative;
    right: -20px;
  }
  #header-community {
    position: relative;
    right: -17.5px;
  }
  .header-account {
    position: relative;
    right: 29px;
  }
  #route-image {
    margin-top: -20px;
    align-items: center;
  }
}
