.header{
  display: flex;
  position: fixed;
  background-color: #e8e4d9;
  width: 100%;
  height: 120px;
  z-index: 999;
}
.header-home{
 display: flex;
 margin-left: 100px;
 margin-top: 25px;
 margin-right: 50px;
}

.link-home{
  display: flex;
  font-family: Montserrat, Semi bold;
  font-size: 16px;
  font-weight: 700;
  color: #3d3d3d;
  text-decoration: none;
  margin-top: 25px;
}

.header-plan{
  display: flex;
  font-family: Montserrat, Semi bold;
  font-size: 16px;
  font-weight: 700;
  color: #3d3d3d;
  margin-left: 45px;
  margin-top: 25px;
  margin-right: 50px;
 }

 .link-plan{
  display: flex;
  margin-top: 25px;
  color: #3d3d3d;
  text-decoration: none;
}

 .header-transport{
  display: flex;
  font-family: Montserrat, Semi bold;
  font-size: 16px;
  font-weight: 700;
  color: #3d3d3d;
  margin-left: 15px;
  margin-top: 25px;
  margin-right: 15px;
 }

 .link-transport{
  display: flex;
  color: #3d3d3d;
  text-decoration: none;
  margin-top: 25px;
}

 .header-image{
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-left: 90px;
  margin-right: 90px;
 }
 
 .header-polices{
  display: flex;
  font-family: Montserrat, Semi bold;
  font-size: 16px;
  font-weight: 700;
  color: #3d3d3d;
  margin-left: 35px;
  margin-top: 25px;
  margin-right: 65px;
 }

 .link-polices{
  display: flex;
  color: #3d3d3d;
  text-decoration: none;
  margin-top: 25px;
}

 .header-community{
  display: flex;
  font-family: Montserrat, Semi bold;
  font-size: 16px;
  font-weight: 700;
  color: #3d3d3d;
  margin-left: 45px;
  margin-top: 25px;
  margin-right: 85px;
 }

 .link-community{
  display: flex;
  color: #3d3d3d;
  text-decoration: none;
  margin-top: 25px;
}

 .header-account{
  display: flex;
  font-family: Montserrat, Semi bold;
  font-size: 16px;
  font-weight: 700;
  color: #3d3d3d;
  margin-left: 50px;
  margin-top: 25px;
 }

 .link-account{
  display: flex;
  color: #3d3d3d;
  text-decoration: none;
  margin-top: 25px;
}

