.plan-route-page {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  color: #3d3d3d;
}

.plan-form-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.column-a {
  display: flex;
  flex-direction: column;
  align-content: left;
}

.column-b {
  display: flex;
  flex-direction: column;
  align-content: right;
}

.breadcrumb-plan-container {
  margin-left: -10.0vw;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.plan-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: -10px;
}

.plan-input {
  border: solid .5px black;
  border-radius: 30px;
  width: 550px;
  height: 76.3px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  padding-left: 28px;
  margin-bottom: 20px;
  outline: none;
}

.plan-button {
  width: 555px;  
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 81px;
  background-color: #749f5c;
  border-style: none;
  border-radius: 45px;
  font-size: 24px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.plan-button:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.world-image {
  width: 590px;
  margin: 300px 40px 0px 40px;
}

.plan-breakpoint {
  margin: 0 auto;
  margin-top: 100px;
  width: 1222px;
  height: 4px;
  background-color: #759f5c;
}

.grid-view {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: baseline;
}

.grid-section {
  margin: 70px 80px 50px 80px;
}

.grid-breakpoint {
  margin-top: 40px;
  height: 300px;
  border-left: 4px solid #759f5c;

}

.grid-icons {
  font-size: 43px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.grid-text {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

.grid-leaf-icon {
  margin-left: 5px;
  width: 57px;
  height: 57px;
}

.clock-icon {
  width: 100px;
}

.plan-header-mobile {
  display: none;
}

.plan-input-b {
  display: none;
}

.mobile-breakpoint {
  display: none;
}

.location-icon {
  display: none;
}

/* MOBILE BREAKPOINT */
@media screen and (max-width: 500px) {

  .breadcrumb-plan-container {
    display: none;
    text-align: center;
  }

  .plan-form-container {
    width: 100%;
  }

  .plan-header-mobile {
    margin-top: 90px;
    display: flex;
    font-size: 24px;
  }

  .column-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8e4d9;
    width: 100%;
  }
  
  .column-b {
    display: none;
  }
  
  .plan-input {
    border: solid .5px black;
    width: 234px;
    height: 33px;
    font-size: 12px;
    padding-left: 18px;
    margin-bottom: 10px;
    border: none;
  }

  .input-field-container {
    width: 234px; 
    background-color: white;
    border-radius: 30px;
    height: 33px;
    margin-bottom: 10px;
    display: flex;
  }

  #current-location-field {
    width: 180px;
  }

  .location-icon {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 70px;
    height: 70px;
  }

  .plan-input-a {
    display: none;
  }

  .plan-input-b {
    display: flex;
  }

  .plan-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .plan-button {
    width: 232px;
    height: 28.2px;
    border-radius: 30px;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: none;
  }
  
  .plan-breakpoint {
    display: none;
  }

  .grid-view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-text {
    font-size: 14px;
    font-weight: 500;
  }

  .grid-icons {
    font-size: 30px;
    height: 65px;
  }

  .grid-leaf-icon {
    margin-left: 3px;
    width: 35px;
    height: 35px;
  }  

  .grid-section {
    margin: 25px 0px 25px 0px;
  }

  .grid-breakpoint {
    display: none;
  }

  .mobile-breakpoint {
    display: flex;
    background-color: #82a1ab;
    border: #82a1ab;
    width: 200px;
    height: 1px;
  }

  .break {
    display: none;
  }
}