
.transportation-type {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  color: #3d3d3d;
  margin: 10px;
}

.mobile-title-container {
  display: none;
}

.title-plus-description {
  margin-left: 20px;
  width: 100%;
}

 .h3-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background: rgba(0, 0, 0, .4);
  margin: 0 auto;
  height: 250px;
  width: 300px;
}

.type-title {
  font-weight: bold;
  color: white;
}

.description-container {
  display: flex;
  align-items: center;
  background: #e8e4d9;
  height: 250px;
  max-width: 900px;
  width: 100%;
}

.description {
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  padding: 20px;
} 



/* Mobile Media Breakpoint */

@media screen and (max-width:500px) {
  .transportation-type {
    margin-bottom: 20px;
    min-height: fit-content;
    height: 70px;
    max-width: 90vw;
  }

  .type-title {
    display: none;
  }

  .h3-container {
    max-width: 60px;
    border-radius: 5px;
    height: 60px;
    background: rgba(196, 196, 196, 0.3);
  }

  .mobile-title-container {
    display: block;
    font-size: 15px;
    padding: 2px 0 7px 0;
  }

  .title-plus-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    margin-left: 20px;
  }
  
  .description-container {
    background: none;
    margin: initial;
    padding: initial;
    min-height: fit-content;
    align-items: flex-start;
    height: 70px;
  }
  
  .description {
    font-weight: normal;
    line-height: initial;
    font-size: 14px;
    padding: initial;
    height: initial;
    min-height: initial;
    max-height: 70px;
  }

}
