.footer{
  position: absolute;
  background-color: #f2f2f2;
  left: 0;
  width: 100%;
  margin-top: 50px;
}

.parent-links{
  display: flex;
  align-items: center;
}

.footer-social{
  width: 25%;
  margin-left: 7%;
  min-width: 450px;
}

.link-social{
  width: 150px;
}

.root-logo {
  margin-left: 12%;
}

.footer-root{
  display: inline-flex;
  width: 197px;
  height: 77px;
  z-index: 998;
}

.page-links{
  display: flex;
  flex-flow: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.link-home-footer{
  font-size: 26px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.link-bar{
  color: #3d3d3d;
  font-size: 26px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 10px;
}

.footer-line{
  width: 80%;
  height: 1px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  background-color:#555;
}

.footer-bottom {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}

.footer-map{
  display: flex;
  flex-direction: column;
}

.link-sitemap {
  color: #3d3d3d;
  text-decoration: none;
  padding-bottom: 18px;
  font-weight: 500;
  display: flex;
}

.message-parent{
  display: flex;
  flex-direction: column;
  width: 25%;
}

.message-container {
  display: flex;
}

.message-commit{
  font-size: 20px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.message-mission{
  font-size: 15px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.contact-div{
  display: inline-flex;
  text-align: left;
  width: 25%;
}

.info-email{
  font-size: 20px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
}

.email{
  padding-bottom: 20px;
}

.email-container {
  width: 100%;
  margin-top: 10px;
}

.email-text{
  outline: none;
  border: none;
  height: 34px;
  width: 70%;
  padding-left: 10px;
}

.email-submit{
  border: none;
  height: 34px;
  width: 30%;
  background-color: #759f5c;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.phone-parent{
  display: inline-flex;
  text-align: left;
  width: 25%;
}

.phone-number-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34px;
  background-color: #759f5c;
}

#phone-number-box {
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.address-parent{
  margin-top: 10px;
  margin-bottom: 80px;
  font-size: 26px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.mobile-footer-line {
  display: none;
}

.phone-number-box-mobile {
  display: none;
}

.footer-social-static-mobile {
  display: none;
}

/* MOBILE BREAKPOINT */
@media screen and (max-width: 500px) {

  footer {
    width: 100%;
    color:#3d3d3d;
  }

  .parent-links {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .footer-root {
    display: flex;
    width: 150px;
    margin-left: 0px;
  }

  .root-logo {
    margin-left: 0%;
  }

  .footer-social {
    width: 100%;
    margin-left: 0px;
    min-width: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    height: 35px;
    z-index: 999;
  }

  .footer-social-static-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .link-social{
    width: 60px;
  }

  .page-links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
  }

  .link-bar {
    font-size: 14px;
    font-weight: 600;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
    width: 100%;
  }

  .message-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .message-commit{
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 70%;
  }
  
  .message-mission{
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 70%;
  }

  .leaf-parent {
    margin: -10px;
    display: flex;
    justify-content: center;
  }
  
  .message-leaf {
    width: 50px;
    height: 50px;
    transform: rotate(230deg);
  }
  
  .footer-line {
    display: none;
  }
  .mobile-footer-line {
    display: flex;
    width: 80%;
    height: 1px;
    border: 0 none;
    margin: 0 auto;
    background-color:#555;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .contact-div{
    display: flex;
    text-align: center;
    width: 100%;
  }

  .info-div {
    width: 100%;
    margin: 0 auto;
  }

  .info-email{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  form.email {
    width: 70%;
    margin: 0 auto;
  }

  .address-parent{
    margin-bottom: 80px;
    font-size: 9px;
    text-align: center;
    width: 100%;
  }

  .phone-number-box{
    display: none;
  }

  .address{
    width: 80%;
    margin: 0 auto;
  }

  .footer-map {
    order: 5;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: wrap;
    font-family: 'Montserrat', sans-serif;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
  }

  .footer-column-b {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .link-sitemap {
    font-size: 12px;
    padding-bottom: 5px;
  }

  .phone-number-box-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 125px;
    height: 34px;
    background-color: #759f5c;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }


}