.profile-main {
  width: 80vw;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: #3d3d3d;
}

.h3-profile {
  text-transform: uppercase;
  font-size: 25px;
}

.profile-title-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 40px;
}

.profile-content {
  margin: 20px auto; 
  margin-top: 70px;
  display: flex;
  height: 460px;
  width: 1000px;
}

.profile-name {
  text-transform: uppercase;
}

#profile-policies {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(https://i.imgur.com/jkMuMqO.png);
  background-size: 105%;
  height: 73%;
  width: 100%;
  color: white;
  margin-bottom: 18px;
  padding: 20px;
  padding-right: 100px;
}

#profile-policies-text {
  font-size: 35px;
  max-width: 500px;
}

#policies-community-container {
  display: flex;
  flex-direction: column;
  min-width: 65%; 
}

#profile-image {
  width: 200px;
  border-radius: 50%;
}

#profile-community {
  display: flex;
  flex-wrap: nowrap;
  background-color: #3d3d3d;
  color: white;
  height: 27%;

}

#community-text-icon {
  position: relative;
  display: flex;
  flex-flow: row-nowrap;
  padding: 5px;
  padding: 10px;
  width: 38%;
}

#community-logo {
  position: absolute;
  right: 8px;
  bottom: -5px;
  min-width: 90px;
  width: 80px;
  margin-top: 20px;
  padding: 0;

}

#community-image {
  z-index: 1;
  background: url(https://i.imgur.com/m0jiLpB.jpeg);
  background-size: 100%;
  background-position: center;
  width: 62%;
  max-height: 100%;
}

#climate-impact-image {
  height: 322px;
  max-width: 100%;
}

#climate-impact-container {
  background: #e8e4d9;
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#climate-impact-text  {
  margin-top: 18px;
  padding: 0 50px 10px 10px;
  font-weight: 500;
  font-size: 16px;
}

#p-profile {
  max-width: 60%;
}

#advocacy-text {
  margin-bottom: 10px;
  
}




/* Mobile Media Breakpoint */

@media screen and (max-width: 500px) {
  #logo-banner {
    display: none;
  }

  .profile-main {
    width: 90vw;
    margin: 0 auto;
  }

  .h3-profile {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
  }

  .profile-title-info {
    margin-top: 100px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .profile-content {
    width: 80vw;
    margin: 20px auto;
    height: initial;
  }

  #profile-image {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  #policies-community-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 360px;
  }

  #profile-policies {
    height: initial;
    max-height: 45%;
    min-height: 45%;
    background-position: center;
    background-size: cover;
    padding: 10px;
    margin-bottom: 10px;
  }

  #profile-policies-text {
    font-size: 25px;
  }
  
  #policies-community-container {
    display: flex;
    flex-direction: column;
  }
  
  #profile-community {
    flex-direction: column-reverse;
    background: url(https://i.imgur.com/DEr3yUq.png);
    background-size: cover;
    height: 50%;
  }
  
  #community-text-icon {
    flex-flow: row-nowrap;
    padding: 5px;
    padding: 10px;
  }
  
  #community-logo {
    top: -120px;
    left: 5px;
    right: initial;
    bottom: initial;
    min-width: 60px;
    width: 60px;
  }
  
  #community-image {
    display: none;
  }
  
  #climate-impact-container {
    display: none;
}
  
}