.edit-transportation-type {
  display: flex;
  flex-direction: column;
  margin: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #3d3d3d;
  box-shadow: 2px 2px 4px 1px rgb(193, 193, 193);
  padding: 20px;
  width: 70vw;
  min-width: 900px;
  max-width: 1400px;
}

.mobile-edit-title {
  display: none;
}

.main-div-contents {
  display: flex;
}

.edit-top-container {
  position: relative;
  display: flex;  
  margin-bottom: 10px;
  max-height: 250px;
  width: 100%;
}

.title-image {
  width: 300px;
  height: 250px;
  z-index: 0;
  margin-right: 20px;
}

.edit-title-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: rgba(0, 0, 0, .4);
  max-width: 300px;
  height: 250px;
  width: 300px;
  z-index: 1;
}
  
.edit-title {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
  max-width: 300px;
  z-index: 1;
}

.edit-description-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  background: #e8e4d9;
  height: 250px;
  max-width: 1000px;
  min-width: 100%;
  width: 100%;
  }
  
.edit-description {
  font-family: "Montserrat", sans-serif;
  color: #3d3d3d;
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
  padding: 20px;
  width: 100%;

}

.edit-description, .edit-title {
  border: none;
  background: none;
  resize: none;
}

.form-right-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  max-height: 100%;
  min-width: fit-content;
  width: 100%;
}

.edit-description:focus, .edit-title:focus, .edit-image-link:focus {
  outline: none;
}

.title-description-edit {
  width: 70%;
}

.edit-title:focus {
  background-color: rgba(116, 159, 92, .8);
  min-width: 300px;
}

.edit-description:focus {
  background-color: rgba(116, 159, 92, .5);
}

.buttons {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 20px;
}

.edit-form-submit, .delete {
  position: relative;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  color: white;
  background-color: #749f5c;
  border-style: none;
  border-radius: 45px;
  margin: 15px;
  height: 50px;
  min-width: 110px;
}

.edit-form-submit:hover, .delete:hover {
  box-shadow: 2px 2px 4px 1px #999;
  text-shadow: 2px 2px 5px rgb(54, 54, 54);
}

.edit-form-submit:focus, .delete:focus {
  outline: none;
}

.delete {
  background: #999;
}

.input-image {
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 400;
  margin-left: 188px;
}

.edit-image-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: hsla(0, 0%, 83%, 0.1);
  border: none;
  background-color: rgba(211, 211, 211, .2);
  margin: 0 0 20px 30px;
  padding: 10px;
  padding-left: 20px;
  height: 42px;
  max-width: 600px;
  min-width: 200px;
  width: 45%;
}

.edit-image-link:focus {
  font-size: 20px;
  color: initial;
  background-color: rgba(116, 159, 92, .5);
}



@media screen and (max-width: 500px) {
  .edit-transportation-type {
    margin: 15px;
    padding: 10px;
    min-width: 95vw;
  }

  .edit-title {
    display: none;
  }

  .edit-title-container {
    display: none;
  }

  .edit-top-container {
    position: relative;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    height: initial;
    min-width: 100%;
    max-width: 100%;
    min-height: initial;
    width: 100%;
  }

  .title-image {
    width: 60px;
    height: 60px;
    z-index: 0;
    margin-right: 20px;
    border-radius: 5px;
  }

  .title-description-edit {
    display: flex;
    flex-direction: column;

  }

  .form-right-div {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: initial;
    min-width: 75%;
    height: fit-content;
    }

  .buttons {
    margin-left: initial;
  }

  .edit-description-container {
    display: flex;
    align-items: center;
    background: none;
    margin-top: 5px;
    margin-left: 0;
    height: initial;
    width: initial;
  }

  .edit-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    width: 47vw;
  }

  .mobile-edit-title {
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #3d3d3d;
    font-size: 15px;
    border: none;
    font-weight: 700;
    width: fit-content;
    padding: 2px 0 2px 0;
  }

  .mobile-edit-title:focus {
    outline: none;
    background-color: rgba(116, 159, 92, .5); 
  }

  .edit-form-submit, .reset, .delete {
    font-size: 12px;
    padding: 0;
    font-weight: 500;
    margin: initial;
    margin-bottom: 5px;
    height: 20px;
    min-width: 60px;
  }

  .input-image-parent  {
    max-width: 100%;
  }
  .input-image {
    color: #3d3d3d;
    font-size: 15px;
    font-weight: 400;
    margin-left: initial;
  }

  .edit-image-link {
    font-size: 12px;
    margin: initial;
    height: 25px;
    max-width: 70vw;
    min-width: 50vw;
    width: 100%;
  }

  .input-image {
    font-size: 12px;
  }

  .edit-image-link:focus {
    font-size: 12px;
  }
}
