.homepage {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.homepage-header {
  color: white;
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url("../../Assets/Images/Hi-Res/root_header_hi_res.png");
  background-size: cover;
  background-position: center;
  padding: 50px;
  height: 961px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-root-logo {
  margin-top: 125px;
  width: 900px;
}

.homepage-subtitle {
  font-size: 48px;
}

.homepage-header-text-container {
  margin-top: 65px;
}

.homepage-news-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 25px;
}

.homepage-subtitle-a {
  font-size: 24px;
  font-weight: 500;
  width: 550px;
  margin-right: 5%;
}

.homepage-subtitle-b {
  width: 550px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.homepage-subtitle-b-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.homepage-subtitle-b:hover {
  font-weight: bold;
  border-bottom: solid 2px white;
}

.header-line {
  width: 1204px;
  height: 2px;
  background-color: white;
}

.homepage-header-navbar {
  display: flex;
  margin-top: 50px;
}

.homepage-button {
  width: 391px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  height: 81px;
  background-color: #749f5c;
  border-style: none;
  border-radius: 45px;
  font-size: 24px;
  text-align: center;
  color: white;
  margin: 15px;
}

.homepage-button:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-text {
  width: 300px;
  margin: 0 auto;
}

.homepage-body {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
} 

.column {
  display: flex;
  flex-direction: column;
}

.policies-section {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../../Assets/Images/Hi-Res/chicago_citiypolicies_hi_res.png");
  background-position-y: 45%;
  background-size: cover;
  width: 796px;
  height: 381px;
  color: white;
  text-align: left;
  position: relative;
}

.policies-text {
  position: absolute;
  bottom: 0px;
  font-size: 24px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.policies-text-headline {
  font-size: 48px;
  margin-bottom: 0px;
}

.climate-impact-section {
  width: 386px;
  height: 547px;
  margin-left: 34px;
  background-color: #e8e4d9;
  color: #3d3d3d;
}

.climate-impact-header {
  font-size: 30px;
  font-weight: bold;
  padding-left: 12px;
  padding-top: 10px;
}

.climate-impact-img {
  width: 386px;
  height: 381px;
  background-image: url("../../Assets/Images/Hi-Res/root_desktop_hi_res.png");
  background-size: cover;
}

.leaf-icon {
  width: 65px;
  height: 65px;
  padding: 7px;
}

.climate-impact-text {
  font-size: 24px;
  padding: 18px 68px 16px 12px;
}

.climate-link{
  text-decoration: none;
  width: 386px;
}

.community-advocacy-section {
  background-color: #3d3d3d;
  height: 149px;
  color: white;
  text-align: left; 
  display: flex;
  width: 794px;
  margin-top: 18px;
}

.community-a {
  width: 318px;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.community-a-title {
  position: absolute;
  width: 318px;
}

.community-icon {
  position: relative;
  align-self: flex-end;
  margin-top: 10%;
  margin-right: -10px;
  width: 120px;
  height: 120px;
}

.community-b {
  width: 478px;
  background-image: linear-gradient(
    rgba(122, 121, 121, 0.342),
    rgba(122, 121, 121, 0.342)), url("../../Assets/Images/Hi-Res/molly_profile_community_hi_res.png");
    background-position-y: 45%;
    background-size: cover;
}

.community-advocacy-img {
  width: 478px;
  object-fit: contain;
}

.homepage-body-navbar {
  display: none;
}

/* MOBILE BREAKPOINT */
@media only screen and (max-width: 500px) {

  .homepage-header {
    height: 450px;
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0)), url("../../Assets/Images/Hi-Res/root_header_hi_res.png");
    background-position-y: 20%;
    padding: 0px;
  }
  
  .homepage-root-logo {
    display: none;
  }

  .homepage-subtitle-a {
    width: 100%;
  }

  .homepage-subtitle-b {
    display: none;
  }

  .homepage-header-navbar {
    display: none;
  }

  .homepage-body-navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .homepage-button {
    width: 300px;
    font-size: 18px;
  }

  .button-text {
    width: 250px;
    margin: 0 auto;
  }
  
  .column {
    display: none;
  }

  .homepage-header-text-container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(77, 77, 79, 0.7);
    height: 65px;
    width: 100%;
  }

  .homepage-subtitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .homepage-subtitle-a {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-right: 0%;
  }

  .homepage-news-container {
    margin-bottom: 0%;
    margin-top: 0px;
  }

  .header-line {
    display: none;
  }

}