.homepage-header {
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url("./photos/root_header_hi_res.png");
  background-size: cover;
  padding: 50px;
  background-position: center;
  height: 961px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-root-logo {
  margin-top: 125px;
  width: 900px;
}

.homepage-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}

.homepage-header-text-container {
  margin-top: 65px;
}

.homepage-news-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.homepage-subtitle-a {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 505px;
  margin-right: 10%;
}

.homepage-subtitle-b {
  font-family: 'Montserrat', sans-serif;
  width: 600px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}

hr {
  width: 1204px;
  height: 2px;
  background-color: white;
}


.homepage-header-navbar {
  display: flex;
  margin-top: 50px;
}

.homepage-button {
  width: 391px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  height: 81px;
  background-color: #749f5c;
  border-style: none;
  border-radius: 45px;
  font-size: 24px;
  text-align: center;
  color: white;
  margin: 15px;
}

.button-text {
  width: 300px;
  margin: 0 auto;
}

.homepage-body {
  max-width: 87%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.policies-section {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("./photos/chicagoskyline.png");
  background-position-y: 45%;
  width: 796px;
  height: 381px;
  background-size: cover;
  color: white;
  text-align: left;
  position: relative;
}

.policies-text {
  position: absolute;
  bottom: 0px;
  font-size: 24px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.policies-text-headline {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
}

.train-image {
  width: 386px;
  height: 381px;
}

.climate-impact-section {
  width: 386px;
  height: 547px;
  margin-left: 34px;
  background-color: #e8e4d9;
  font-family: 'Montserrat', sans-serif;
  color: #3d3d3d;
}

.climate-impact-header {
  font-size: 30px;
  font-weight: bold;
  padding-left: 12px;
}

.climate-impact-text {
  font-size: 24px;
  padding: 18px 68px 16px 12px;
}

.community-advocacy-section {
  background-color: #3d3d3d;
  height: 149px;
  color: white;
  text-align: left; 
  display: flex;
  width: 794px;
}

.community-a {
  width: 318px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.community-b {
 width: 478px;
}

.community-advocacy-img {
margin-left: 45%;
}
