.manage-parent {
  display: flex;
  flex-direction: column;
  width: 85vw;

  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #749f5c;
  font-weight: 600;
}

.edit-transportation-types {
  min-width: 900px;
}

.add-icon-link {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;  
  margin: 60px 0 -10px 9vw;
  margin-bottom: 20px;
  }

  .add-icon {
    width: 60px;
  }

  #add-icon-text {
margin-left: 10px;
font-size: 20px;
  }