
.add-icon-link {
  display: flex;
  height: 60px;
  align-items: center;  
  margin: 60px 0 -10px 9vw;
  margin-bottom: 20px;
  }

.add-icon {
  width: 60px;
}

#add-icon-text {
  font-size: 20px;
  margin-left: 10px;
}

.manage-parent {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
}

#add-link {
  font-weight: 600;
  color: #749f5c;
  text-decoration: none;
}

.edit-transportation-types {
  min-width: 900px;
}


/* Mobile Media Breakpoint */



@media screen and (max-width: 600px) {
  .manage-parent {
    min-width: 100vw;
  }

  .add-icon {
    width: 40px;
  }

  #add-icon-text {
    font-size: 16px;
    margin-left: 10px;
  }
  
  .edit-transportation-types {
    min-width: 100vw;
  }

}